.errorContainer {
    margin-top: 20%;
    text-align: center;
    color: white;
}
.error {
    white-space: 'pre-wrap';
}

.pageNotFound {
    text-align: center;
    margin: auto;
    margin-top: 20%;
    color: white;
}