.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.modal {
    margin: auto;
    width: 50%;
    background-color: #232323;
    padding: 30px 50px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.07), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 10px 50px rgba(0, 0, 0, 0.05);
}

.title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 1px;
    color: #fff;
}

.closeIcon {
    color: #fff;
    display: flex;
    justify-content: flex-end;
}

.icon {
    width: 10%;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: end;
    margin-right: 15px;
}

.iconAlternative {
    width: 10%;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: end;
    margin-right: 15px;
    color: #F65261;
}

.form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.inputGroupLarge {
    flex-basis: calc(70% - 20px);
    margin-top: 80px;
    height: 50px;
}

.inputGroupShort {
    margin-top: 80px;
    margin-left: 20px;
    flex-basis: 30%;
    height: 50px;
}

.inputGroupExtraLarge {
    margin-top: 80px;
    flex-basis: 100%;
}

.input {
    width: 100%;
    border: none;
    padding: 10px;
    background: rgba(50, 50, 50, 0.948044);
    border-radius: 4px;
    margin: 10px 0;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat';
}

.inputWithError {
    width: 100%;
    padding: 10px;
    background: rgba(50, 50, 50, 0.948044);
    border-radius: 4px;
    margin: 10px 0;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat';
    border: 1px solid #F65261;
}

/* .input::-webkit-calendar-picker-indicator {
    color: #F65261!important;
    background-color: red;
} */

.input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.3;
    padding: 10px;
}

.label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
    color: #F65261;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.deleteMessage {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 50px;
}

.textEnd {
    margin-top: 30px;
    text-align: end;
    width: 100%;
}

.secondaryButton {
    background-color: transparent;
    border: 1.5px solid #F65261;
    border-radius: 4px;
    color: #F65261;
    padding: 15px 70px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    transition: all .5s ease;
    margin-right: 15px;
}

.secondaryButton:hover {
    background: rgba(50, 50, 50, 0.948044);
}

.modalAlternative {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60vh;
    background: #232323;
    transition: all .6s ease;
    padding: 50px 90px;
    z-index: 2;
}

.movieImageContainer {
    padding: 50px;
    flex-basis: 20%;
}

.movieImageAlternative {
    width: 100%;
}

.movieInfoContainer {
    padding: 0px 50px 50px 0;
    flex-basis: calc(80% - 30px);
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.alternativeTitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 1px;
    color: #fff;
}

.alternativeTitleContainer {
    flex-basis: 20%;
}

.rating {
    flex-basis: 80%;
    margin-bottom: 30px;
}

.ratingCircle {
    margin-left: 30px;
    color: #fff;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 12.5px 0;
    text-align: center;
    vertical-align: middle;
}

.genres {
    flex-basis: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 10px;
}

.releaseDate {
    flex-basis: 10%;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #F65261;
    margin-top: 0;
}

.runtime {
    flex-basis: calc(90% - 30px);
    margin-left: 0px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #F65261;
    margin-top: 0;
}

.overview {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.errorInput {
    margin-top: 0;
    color: #F65261;
}